/* 
  Name: Main styles
  Path: Components/Styles/
*/
@import './Typography.css';

body {
  background: #ffffff;
  font-family: 'Proxima Nova', 'Roboto', sans-serif;
  font-size: 18px;
  color: #696969;
  line-height: 34px;
  font-weight: 400;
}

img {
  width: 100%;
  height: auto;
  display: block;
}

.flex-middle {
  align-items: center;
}