/* 
  Name: Copyright
  Path: Components/Copyright/
*/

#sign_in_agreement .mobile-show {
	margin: 0;
	background: #f7f7f7;
	padding-bottom: 15px;
}

#terms_conditions {
  border: 1px solid #d7d7d7;
}

#terms_conditions h2 {
  background: #696969;
  color: #fff;
  line-height: 60px;
}

#terms_conditions .t_and_c_wrap {
  padding: 60px 70px;
  max-height: 677px;
  overflow: hidden;
  overflow-y: scroll;
}

#terms_conditions .t_and_c_wrap::-webkit-scrollbar-thumb {
  border: 0.5px solid rgb(175, 175, 175);
  background-image: -moz-linear-gradient( -180deg, rgb(175,175,175) 0%, rgb(242,242,242) 100%);
  background-image: -webkit-linear-gradient( -180deg, rgb(175,175,175) 0%, rgb(242,242,242) 100%);
  background-image: -ms-linear-gradient( -180deg, rgb(175,175,175) 0%, rgb(242,242,242) 100%);
  background: red;
  width: 13px;
  height: 13px;
}

#terms_conditions .t_and_c_wrap::scrollbar-thumb {
  border: 0.5px solid rgb(175, 175, 175);
  background-image: -moz-linear-gradient( -180deg, rgb(175,175,175) 0%, rgb(242,242,242) 100%);
  background-image: -webkit-linear-gradient( -180deg, rgb(175,175,175) 0%, rgb(242,242,242) 100%);
  background-image: -ms-linear-gradient( -180deg, rgb(175,175,175) 0%, rgb(242,242,242) 100%);
  background: red;
  width: 13px;
  height: 13px;
}

#terms_conditions .t_and_c_wrap::-moz-scrollbar-thumb {
  border: 0.5px solid rgb(175, 175, 175);
  background-image: -moz-linear-gradient( -180deg, rgb(175,175,175) 0%, rgb(242,242,242) 100%);
  background-image: -webkit-linear-gradient( -180deg, rgb(175,175,175) 0%, rgb(242,242,242) 100%);
  background-image: -ms-linear-gradient( -180deg, rgb(175,175,175) 0%, rgb(242,242,242) 100%);
  background: red;
  width: 13px;
  height: 13px;
}

#sign_in_agreement {
  background: #f7f7f7;
  color: #696969;
  font-weight: 700;
  padding: 35px 70px;
  border-top: 1px solid #d7d7d7;
  align-items: center;
}

#sign_in_agreement p {
  margin-bottom: 0;
  width: 900px;
  height: 25px;
	line-height: 25px;
}

#sign_in_agreement input[type="checkbox"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  appearance: none;
  position: relative;
  width: 25px;
  height: 25px;
  border: none;
  background: transparent;
  outline: none
}

#sign_in_agreement input[type="checkbox"]:after {
  content: '';
  position: absolute;
  top:0;
  left:0;
  border: 1px solid #d7d7d7;
  width: 100%;
  height: 100%;
  display: block;
  background: url(../../images/checkmark.svg) no-repeat center;
  background-size: 0 auto;
  -webkit-transition: background 0.07s cubic-bezier(.38,.72,.82,1.21);
  transition: background 0.07s cubic-bezier(.38,.72,.82,1.21);
}

#sign_in_agreement input[type="checkbox"]:checked:after {
  background-size: 60% auto;
  background-color: #038d7b;
  border-color: #038d7b;  
}

#sign_in_agreement input {
  cursor: pointer;
}

#sign_in_agreement .form-check {
  width: 25px;
  height: 25px;
  margin-right: 13px;
}

#sign_in_agreement input[type="text"] {
  margin: 0 14px;
  width: 276px;
  border: none;
  border-bottom: 1px solid #d7d7d7;
  background: transparent;
  font-weight: 700;
  text-transform: capitalize;
  height: 27px;
}

#sign_in_agreement input[type="text"]:focus, #sign_in_agreement input[type="text"]:active {
  box-shadow: none;
}